# Project settings
PROJECT_NAME=nasvyazi
DOMAIN=localhost

# Ports
WEB_PORT=5173
CORE_PORT=8000
STREAM_PORT=8081
ML_PORT=8002
PGADMIN_PORT=5050

# Database (PostgreSQL)
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=nasvyazi_db
DB_USERNAME=nasvyazi_admin
DB_PASSWORD=nasvyazi_password

# Cache & Broker (Redis)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=nasvyazi_password

# Object storage (MinIO)
MINIO_ROOT_USER=nasvyazi_admin
MINIO_ROOT_PASSWORD=nasvyazi_password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Microservices internal urls
CORE_URL=http://localhost:8000
STREAM_URL=http://localhost:8081
ML_URL=http://localhost:8002
